<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<center>
		<div>
		<h1>Welcome Home! <%= user.username%></h1> 		
		</div>

		<a href="/reg"> Add users</a> |
		<a href="/home/alluser"> View users</a> |
		<a href="/product"> Add Product</a> |
		<a href="/product/product"> View Product</a> |
		<a href="/product/category">Add Category</a>
		<a href="/product/subcategory">Add SubCategory</a>
		<a href="/home/cngPass/<%=user.id%>/<%=user.username%>"> Change Password</a> |
		<a href="/logout"> logout</a><br>


		Name:<%= user.username %>    <br>
		Id: <%= user.id %> <br>
		Password: <%= user.password %>
	</center>
</body>
</html>